.footer {
    height: 50px;
    position: fixed;
    background-color: #304ffe;
    bottom: 0;
    left: 0;
    right: 0;
    
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    background-color: #304ffe;
    color: #fff;
}
.footer ul{
    display: flex;
    width: 100%;
    position: relative;
    list-style: none;
    text-align: center;
    z-index: 1;

}

.footer li{
    margin: auto;
    text-transform: capitalize;
    line-height: 1;
}
.footer li:hover{
color: black;
}

.footer span {
    display: block;
}